@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    font-family: 'Righteous', cursive;
    box-sizing: border-box;
}

html{
    background-image: url('../img/background.png');
}

main{
    width: 100%;
    display: block;
}

header{
    font-family: 'Righteous', cursive;
    color: #fffdfe;
    text-align: center;
    font-size: 36px;

    background-color: rgba(202, 240, 251, 255);
    width: 100%;
    height: 150px;

    display: block;
    
}

header h1{
    display: inline-block;
    padding-top: 50px;
    padding-bottom: 50px;
}


header img{
    width: 15%;
    float: left;
}

#form{
    display: inline-block;
    padding: 25px;
    border-radius: 15px;
    background-color: #5d4b7696;

    text-align: center;
    width: 25%;
    margin: 2.5%;
    vertical-align: top;
    font-size: 20px;
}

label{
    display: inline-block;
    padding: 5px;
    color: #fffdfe;
}

input, select{
    border-radius: 7px;
    width: 75%;
}

#submitBtn{
    background-color: #5d4b76 ;
    border-radius: 7px;
    margin-top:20%;
    width: 75%;
}

#bigContainer{
    background-color: #5d4b7696;
    width: 45%;
    display: inline-block;
    margin: 2.5%;
    border-radius: 20px;
}

#smallContainer{
    background-color: #fffdfe38 ;
    border-radius: 20px;
    margin: 4.7%;
    width: 90%;
}

#smallContainer img{
    /* width: 17%; */
}

.locationDiv{
    height: 150px;
    border-bottom: 3px solid rgb(136, 131, 131);
    display: grid;
    grid-template-columns: 2;
}

.locationDiv ul{
    grid-column: 2;
}


.locationDiv img{
    height: 100px;
    margin: 5%;
    margin-left: 10% ;
    display: inline-block;
    
    
}

.infoClass{
    display: inline-block;  

    margin-left: 10%;
    padding: 25px;    
    /* vertical-align: middle; */
}

